{% extends "polls/layout/layout.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}

{% block css %}

    <!--<link rel="stylesheet" href="{% static "polls/css/polls.scss" %}" type="text/scss" charset="utf-8">-->
{% endblock %}
