{% extends "polls/layout/layout.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <h1>{{ question.question_text }}</h1>

    <ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'polls:detail' question.id %}">Vote again?</a>
{% endblock %}

{% block css %}

    <!--<link rel="stylesheet" href="{% static "polls/css/polls.scss" %}" type="text/scss" charset="utf-8">-->
{% endblock %}
