{% load i18n %}
{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block site_title %}
            {% trans "My site" %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="
        {% block site_description %}
            {% trans "My site" %}
    {% endblock %}
    ">
    <meta name="author" content="Ahmadiga">

    <!-- Le styles -->
    {% compress css %}
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}" type="text/css"
              charset="utf-8">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" type="text/css"
              charset="utf-8">
{#        <link rel="stylesheet" href="{% static "css/common.scss" %}" type="text/scss" charset="utf-8">#}
        {% block base_css %}
        {% endblock %}
    {% endcompress %}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>

<body>

{% block base_content %}
{% endblock %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


{% compress js %}
    <script src="{% static "jquery/dist/jquery.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "parsley/js/parsley.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/script.js" %}" type="text/javascript" charset="utf-8"></script>
    {% block base_js %}
    {% endblock %}
{% endcompress %}
</body>
</html>
